body {
    font-family: "Domine", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    text-align: center;
    color: #110169;
    background-color: #C9A0DC;
    padding: 20px;
    margin: 0px;
}

nav li {
    list-style-type: none;
    background-color: black;
    margin: 1px;
}

nav a {
    text-decoration: none;
    color: #EDEDED;
    padding: 25px;
}

nav a:hover {
    color: palegoldenrod;
    background-color: black;
    text-decoration: underline;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0px;
    flex-wrap: wrap;
}

footer {
    color: lightgray;
    background-color: black;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}