body {
    font-family: "Domine", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #fbe3c1;
}

h1 {
    justify-self: center;
}

h2.header {
    text-align: center;
    color: #5c3d4a;
    background-color: #d69e90;
    padding: 20px;
    margin: 0px;
    font-size: 200%;
}

/* NAV BAR */
nav li {
    list-style-type: none;
    background-color: #4D372B;
    margin: 1px;
}

nav a {
    text-decoration: none;
    color: #EDEDED;
    padding: 25px;
}

nav a:hover {
    color: #fdd99d;
    background-color: #4D372B;
    text-decoration: underline;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: #4D372B;
    padding: 25px;
    margin: 0px;
    flex-wrap: wrap;
}

main {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    line-height: 1.2;
    padding-bottom: 5rem;
}

footer {
    color: #EDEDED;
    background-color: #4D372B;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0%;
}

.links ul {
    list-style-type: none;
}

.links li {
    display: inline;
    padding: 15px;
}

.links a {
    color: #EDEDED
}

.links a:hover {
    color: #fdd99d;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* HOME */
body.home {
    background-image: url(../../images/hudson.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.home_text {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    bottom: 0;
    font-size: 75%;
}

.footer_link {
    color: #EDEDED;
}

h1.home {
    font-size: 300%;
    margin: 0%;
}

p.home {
    font-size: 120%;
    margin: 0%;
}

p.bottom {
    align-items: end;
}

/* ABOUT */
main.about {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}

img.about {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
    max-width: 100%;
}

figcaption {
    padding-top: 1rem;
    font-size: 75%;
    text-align: center;
}

.section {
    max-width: 50vmax;
}

/* PORTFOLIO */
.portfolio_wrapper {
    display: grid;
    gap: 2rem;
    padding: 3rem;
    padding-top: 0%;
    grid-template-columns: repeat(auto-fit, 25rem);
    align-items: center;
    justify-content: center;
}

a.box {
    display: grid;
    justify-content: center;
    height: 20rem;
    padding: 2rem;
    border: 1px solid #000000;
    border-radius: 15%;
    background-color: #FFFFFF;
    text-decoration: none;
    color: #000000;
    filter: drop-shadow(0.3rem 0.3rem 0.2rem #2B2323DC);
}

a.box:hover {
    filter: drop-shadow(0.3rem 0.3rem 0.2rem #d69e90);
}

h2.portfolio {
    padding-left: 2rem;
    padding-right: 2rem;
}

p.portfolio {
    padding-left: 2rem;
    padding-right: 2rem;
}

/* RESUME */
.resume {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin: 3rem;
    margin-top: 0%;
    border-radius: 5%;
    padding: 1.5rem;
}

/* PORTFOLIO ITEMS */
article {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 1.3rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    filter: drop-shadow(0.3rem 0.3rem 0.2rem #2b2323dc);
}

.portfolio_section_wrapper {
    margin: 0 auto; /*Centers element horizontally*/
    max-width: 65rem; /*In order for the container to appear centered, it needs a width*/
}
