body {
    font-family: "Domine", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    position: relative;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: #110169;
    background-color: #C9A0DC;
    padding: 20px;
    margin: 0px;
}

/* NAV BAR */
nav li {
    list-style-type: none;
    background-color: black;
    margin: 1px;
}

nav a {
    text-decoration: none;
    color: #EDEDED;
    padding: 25px;
}

nav a:hover {
    color: palegoldenrod;
    background-color: black;
    text-decoration: underline;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 25px;
    margin: 0px;
    flex-wrap: wrap;
}

.wrapper {
    padding-bottom: 5rem;
}

main {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    line-height: 1.2;
    margin-bottom: 0%;
}

footer {
    color: lightgray;
    background-color: black;
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 0%;
}

.links ul {
    list-style-type: none;
}

.links li {
    display: inline;
    padding: 15px;
}

.links a {
    color: #EDEDED
}

.links a:hover {
    color: palegoldenrod;
    font-weight: bold;
}

img {
    max-width: 100%;
}

/* HOME */
body.home {
    background-image: url(../../images/lavender-7489530_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main.home {
    margin: 0;
    position: absolute;
    top: 47%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h2.home {
    font-size: 300%;
    margin: 0%;
}

p.home {
    font-size: larger;
    margin: 0%;
}

/* ABOUT */
main.about {
    background-image: linear-gradient(#9BB4E8);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    min-height: 26rem;
    padding: 2rem;
}

.left {
    padding-top: 2.5rem;
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    align-items: center;
    justify-content: center;
}

img.about {
    width: 24rem;
    height: 24rem;
    border-radius: 50%;
}

.text {
    padding-top: 8rem;
    padding-right: 15rem;
    grid-row: 1/2;
    grid-column: 2/3;
}

/* PORTFOLIO */
main.portfolio {
    background-color: #9BB4E8;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 26rem;
    column-gap: 2rem;
    padding: 2rem;
}

.box {
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 15%;
    text-decoration: none;
    color: black;
    filter: drop-shadow(0.3rem 0.3rem 0.2rem #2b2323dc);
}

a.box {
    text-decoration: none;
    background-color: #C9A0DC;
}

a.box:hover {
    filter: drop-shadow(0.3rem 0.3rem 0.2rem #cbb878dc);
}

h2.portfolio {
    padding-left: 2rem;
    padding-right: 2rem;
}

p.portfolio {
    padding-left: 2rem;
    padding-right: 2rem;
}
